/lib/uRProgramming/output/outputFile.pdf
/lib/uRProgramming.Rcheck/
/test/dfRTools_template_1.odt
/test/dfRlegend.R
/test/newRTemplate.R
/test/multiPlot.R
/test/dfRmatPlotM.R
/uRProgramming.Rcheck/
/build.xml_template
/uRProgramming_1.0.0.tar.gz
/data/
/tar_files/uRProgramming_1.0.0.tar.gz
/test/odfWeave.Rout
/test/synPlotMain.R
/test/synoptikData.R
/test/testggPlot.R
/test/synPlot.R
.Rproj.user
test/.~lock.uRProgramming_report.odt#
test/.~lock.uRProgramming_templ.odt#
