# Remove the previous line if you edit this file

# Export all names
export(
    conditionalStatements,createDataFile,dataStructures,
    dataTypes,environment,legendM,
    loopStructures,manuplatingData,matPlotM,
    object,packageBuild,RGUI,simpleGraphs,simpleStats
)

# Import all packages listed as Imports or Depends
import(
    chron,
    tcltk
   ,odfWeave
)
