# Remove the previous line if you edit this file

# Export all names
export(
   conditionalStatements,
   CreateDataFile,
   dataStructures,
   dataTypes,
   environment,
   legendM,
   loopStructures,
   manuplateData,
   matPlotM,
   object,
   packageBuild,
   matPlotM,
   RGUI,
   simpleGraphs,
   simpleStats
)

# Import all packages listed as Imports or Depends
import(
    chron,
    tcltk
   ,odfWeave
)
